$body$

<hr/>

<p>If you like, consider to:</p>

<div class="text-center">

  <p><a href="https://patreon.com/vimly" target="_blank"><img width="180px" height="45px" src="/static/img/Digital-Patreon-Wordmark_FieryCoral.png" alt="Become a Patreon" /></a></p>
  <p><a href="https://www.buymeacoffee.com/vimly"><img width="180px" height="45px" src="/static/img/BMC logo+wordmark - Black.svg" alt="Buy Me a Coffee" /></a></p>

</div>

<p>It is also possible to make a secure donation by <a href="https://paypal.me/GiacomoMantani" style="button button-pill">PayPal.Me</a>.  Your help keep this site alive and <i>half of the donation</i> will be devolved to help <u>children in Uganda</u> (<b>ICCF Holland</b>). Thanks for your support and have a nice day! :)</p>

<hr/>
