$body$

<div class="table-responsive">
  <table class="text-center" style="border:none;">
    <thead>
      <tr>
        <th scope="col" class="font-size-xl text-center color-success border-bottom border-color-success">Basic</th>
        <th scope="col" class="font-size-xl text-center color-info border-bottom
        border-color-info">Professional</th>
        <th scope="col" class="font-size-xl text-center color-secondary border-bottom border-color-secondary">Full</th>
      </tr>
    </thead>
    <tbody>
      <tr style="font-style:italic">
        <td>All Vim Manual Chunks</td>
        <td>All Vim Manual Chunks</td>
        <td>All Vim Manual Chunks Summarized (Read only what matter most!) &amp; CheatSheets</td>
      </tr>
      <tr style="font-style:italic">
        <td>-</td>
        <td>Practice Exercises</td>
        <td>Practice Exercises</td>
      </tr>
      <tr style="font-style:italic">
        <td>-</td>
        <td>-</td>
        <td>Personal configurations help desk</td>
      </tr>
      <tr>
        <td>
          <form action="/subscribe-free.html" method="get" accept-charset="utf-8">
            <button class="button success button-border button-pill button-xs">FREE</button>
          </form>
        </td>
        <td>
          <big class="color-info">5 &euro;</big>
          <form action="https://www.paypal.com/cgi-bin/webscr" method="post" target="_top">
            <input type="hidden" name="cmd" value="_s-xclick">
            <input type="hidden" name="hosted_button_id" value="BCTYRJDPBN5AS">
            <input type="image" style="border:none;margin:auto;width:200px;height:47px;" src="https://www.paypalobjects.com/it_IT/IT/i/btn/btn_buynowCC_LG.gif" border="0" name="submit" alt="PayPal è il metodo rapido e sicuro per pagare e farsi pagare online.">
          </form>

          <p></p>
          <em class="padding-top font-size-xs">*This fee is <b>fully refundable</b> for three days following
            signup.</em>
        </td>
        <td>
          <big class="color-secondary">9 &euro;</big>
          <form action="https://www.paypal.com/cgi-bin/webscr" method="post" target="_top">
            <input type="hidden" name="cmd" value="_s-xclick">
            <input type="hidden" name="hosted_button_id" value="TJN3GVTVADWWE">
            <input type="image" style="border:none;margin:auto;width:200px;height:47px;" src="https://www.paypalobjects.com/it_IT/IT/i/btn/btn_buynowCC_LG.gif" border="0" name="submit" alt="PayPal è il metodo rapido e sicuro per pagare e farsi pagare online.">
          </form>


          <p></p>
          <em class="padding-top font-size-xs">*This fee is <b>fully refundable</b> for three days following
            signup.</em>
        </td>
      </tr>
    </tbody>
  </table>
</div>
<p class="text-center">All subscription fees are a <big><u><b>one time
      payment</b></u></big> and grant you to <big><u>lifetime content</u></big>!</p>
